body{
    background-image: url('../../img/bg.jpg');
    background-position: center;
    background-size: cover;
    // height: 100vh;
}

.clock{
    margin: 50px auto;
    width: 500px;
    height: 500px;
    border: 10px solid var(--color-light);
    border-radius: 50%;
    position: relative;
    padding: 20px;
}

// Позволяет выровнять стерлки по середине
.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
}

.hand{
    width: 50%;
    height: 6px;
    background: var(--color-dark);
    position: absolute;
    top: 50%;
    // смотри obsidian
    transform-origin: 100%;
    transform: rotate(90deg);
    // добавляем плавный переход, чтобы стрелки у нас не прыгали
    transition: all .05s;
    transition-timing-function: cubic-bezier(0, 2.3, 0.58, 1);
}